[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
allure-pytest = "*"
webdrivermanager = "*"
selenium = "*"
selenium-requests = "*"
robotframework-selenium2library = "*"
robotframework-requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
